header
	+clearfix

	background:
		image: url('../images/fundo-slide-pagina-inicial.jpg')
		//position:
		//attachment:
		//size:


	.logo
		float: left
		
		img
			width: 100%
			heigth: 100%

	.links
		float: right
		
		nav
			ul
				li
					display: inline-block
					a
						color: $branco
						text-transform: none
		.social

	h1

	p

	a
